<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  Hey! Lets try uploading to s3 directly :)

  <form method="post" enctype="multipart/form-data" action="/upload">
    <p>
      <input type="text" name="title" placeholder="optional title" />
    </p>

    <p>
      <input type="file" name="upl" />
    </p>

    <p>
      <input type="submit" />
    </p>
  </form>
</body>

</html>
